<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/index.html">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jdngo@ucdavis.edu">email</a></li>
	        		<li><a href="https://github.com/jdngo">github.com/jdngo</a></li>
				</ul>
			</footer>
		</body>
	</html>
